@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Comic Neue', sans-serif;
}

.primary-button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #00e5ff, #00b8d4);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.primary-button:hover {
  background: linear-gradient(to right, #00b8d4, #00b2bf);
}

.primary-button:active {
  background: linear-gradient(to right, #00b2bf, #00b8d4);
}

body {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  z-index: 9999;
}

.overlay .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  padding: 20px;
}

.overlay .modal h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}